.about {
  padding-top: 40px;
  padding-bottom: 40px;

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.about__details {
  padding: 33px 47px;
  background-color: $color-black-russian;
  color: $color-dark-grey;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    text-align: center;
  }

  h3::after {
    position: relative;
    display: block;
    margin: auto;
    width: 155px;
    height: 1px;
    bottom: -10px;
    background-color: $color-zambezi;
    content: "";
  }

  p {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
  }

  @include vp-1199 {
    padding: 20px 12px;

    h3 {
      font-size: 20px;
      line-height: 24px;
    }

    p {
      font-size: 14px;
      line-height: 17px;
    }
  }

  @include vp-767 {
    padding: 20px 30px 30px;
  }
}

.about__contacts {
  font-style: normal;
}

.about__link {
  position: relative;
  display: grid;
  width: fit-content;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  grid-template-columns: min-content 1fr;
  gap: 12px;
  color: lighten($color-medium-orchid, 20%);
  transition: color $trans-default;

  &::after {
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -6px;
    left: 0;
    background: linear-gradient(90deg, $color-medium-orchid 19%, $color-pink-flamingo 52%, transparent 86%);
    background-size: 200%;
    background-position: 100% 0;
    content: "";
    transition: all linear 0.3s;
  }

  @include hover-focus {
    color: $color-medium-orchid;

    &::after {
      width: 100%;
      background-position: 0 0;
    }
  }

  @include vp-767 {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 19px;
  }
}

.about__link-icon {
  align-self: center;
  fill: currentcolor;
}

.about .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 75px;

  @include vp-1200 {
    padding-left: 220px;
    padding-right: 220px;
  }

  @include vp-1199 {
    gap: 20px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
