.footer {
  width: 100%;
  background-color: $color-black-russian;
  border-top: solid 2px $color-medium-orchid;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}
