.gallery {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;

  @include vp-1199 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.gallery__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  justify-content: stretch;
  list-style: none;

  @include vp-767 {
    flex-direction: column;
  }
}

.gallery__list-item {
  cursor: pointer;
  flex-grow: 1;
  transition: transform 1.5s ease-in-out 2s;

  &:nth-child(n+2):not(:last-child) {
    margin-left: -180px;
  }

  &:nth-child(n-2):not(:first-child) {
    margin-left: -180px;
  }

  img {
    width: 100%;
    height: 520px;
    object-fit: cover;
  }

  @include vp-1199 {
    &:nth-child(n+2):not(:last-child) {
      margin-left: -100px;
    }

    &:nth-child(n-2):not(:first-child) {
      margin-left: -100px;
    }

    img {
      height: clamp(265px, 34.5vw, 520px);
    }
  }

  @include vp-767 {
    &:nth-child(n+2):not(:last-child) {
      margin-left: 0;
    }

    &:nth-child(n-2):not(:first-child) {
      margin-left: 0;
    }

    &--hide-mobile {
      display: none;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-bottom: 2px solid $color-pink-flamingo;
      box-shadow: inset 4px -4px 4px rgb(0 0 0);
    }
  }
}

.gallery__link {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 17px;
  justify-content: center;
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: $color-pink-flamingo;
  transition: all linear 0.3s;

  &::after {
    position: absolute;
    height: 1px;
    width: calc(100% - 70px);
    bottom: 10px;
    left: 35px;
    background: linear-gradient(90deg, $color-medium-orchid 40%, $color-night-rider 60%);
    background-size: 250%;
    background-position-x: 99%;
    content: "";
    transition: background-position-x linear 0.3s;
  }

  @include hover-focus {
    color: $color-medium-orchid;

    &::after {
      background-position-x: 0;
    }
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 19px;
  }
}

.gallery .container {
  padding-left: 0;
  padding-right: 0;
}
