.logo {
  height: 30px;
  width: 113px;
  color: $color-pink-flamingo;
  transition: color $trans-600;

  .is-hidden & {
    transform: translateY(-100%);
  }

  @include hover-focus {
    color: $color-medium-orchid;
  }
}

.logo__icon {
  fill: currentColor;
}
