.logo {
  color: $color-pink-flamingo;
  transition: color $trans-600;

  .is-hidden & {
    transform: translateY(-100%);
  }

  @include hover-focus {
    color: $color-medium-orchid;
  }
}

.logo__icon {
  height: 30px;
  width: 113px;
  fill: currentColor;

  @include vp-1199 {
    height: 20px;
    width: 77px;
  }
}
