.logo {
  display: flex;
  align-items: center;
  color: $color-pink-flamingo;
  transition: color $trans-600;

  .is-hidden & {
    transform: translateY(-100%);
  }

  @include hover-focus {
    color: $color-medium-orchid;
  }
}

.logo__icon {
  height: 53px;
  width: 200px;
  fill: currentColor;

  @include vp-1919 {
    height: 30px;
    width: 113px;
  }
}
