.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0;
  margin: auto 0;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  @include vp-767 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    .header & {
      align-items: center;
      flex-direction: column;
    }
  }
}

.nav-list__item {
  margin: auto 8px;
  color: $color-very-light-grey;
  transition: color $trans-600;

  @include hover-focus {
    color: $color-medium-orchid;
  }

  @include vp-767 {
    .header & {
      margin: 0;
      padding: 10px 19px;
      width: calc(100% - 26px);
      border-bottom: 1px solid $color-zambezi;
    }
  }
}

