.swiper-pagination {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: center;
}

.swiper-pagination-bullet {
  display: inline-block;
  box-sizing: border-box;
  margin: 4px;
  width: 12px;
  height: 12px;
  border: 1px solid $color-default-white;
  background-color: $color-default-white;
  border-radius: 50%;
  box-shadow: 0 0 0 6px $color-default-black inset;
  cursor: pointer;
  transition: box-shadow $trans-default;

  &-active {
    box-shadow: 0 0 0 2px $color-default-black inset;
  }

  @include hover-focus {
    box-shadow: 0 0 0 6px $color-medium-orchid inset;
  }

  @include vp-1199 {
    margin: 2px;
    width: 8px;
    height: 8px;

    &-active {
      box-shadow: 0 0 0 1px $color-default-black inset;
    }
  }
}

.gallery .swiper-pagination {
  bottom: 8px;
  z-index: 1;
}

.intro .swiper-slide,
.gallery .swiper-slide {
  img {
    opacity: 0.3;
    transition: all 3s ease-in-out;
  }
}

.intro .swiper-slide-active,
.gallery .swiper-slide-active {
  img {
    opacity: 1;
    transform: scale(1.1);
  }
}

.intro .swiper-slide {
  position: static;
}
